html {
	background-color: #F5F5F5;
}

body.container-fluid {

	background-color:  	#FFFAFA;
	margin: 30px;
	border-radius: 15px;

}

section {
}

aside {

	background-color:#F5F5F5;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #708090;

}


}
footer {

}