html {
	background-color: #F5F5F5;
}

body.container-fluid {

	background-color: #FFFAFA;
	margin: 30px;
	border-radius: 15px;

}

aside {

	background-color:#FFFAFA;
	border-radius: 5px;
	border-color:#FFFAFA;


}

p, li{
	font-size: 15px;
}
h1 {
	font-size: 50px;
}
h2{

    text-decoration: underline;
}
.bioparagraph{
	text-indent:25px;
}

.quote{
	font-style: italic;
}
img.img-responsive{
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #708090;
}