html {
	background-color: #FFFFF0;
}

.page {
	background-color: #F5F5F5;
	margin: 30px;
	border-radius: 15px;
	padding:5px;
}

header {

}

section.biography {

}

aside {

}

section.timeline {

}

footer {
	
}